<%- partial('_partial/ayer') %>
<div id="main">
  <%- partial('_partial/archive', {pagination: 2, index: true}) %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/gh/PikaSama/live2d-widget@1.0/autoload.js"></script>
</div>
